.loader {
  position: relative;
  width: 6.25rem;
  height: 8.125rem;
  background: #fff;
  border-radius: 0.25rem;
}
.loader:before {
  content: "";
  position: absolute;
  width: 3.375rem;
  height: 1.563rem;
  left: 50%;
  top: 0;
  background-image: radial-gradient(
      ellipse at center,
      #0000 24%,
      var(--secondary) 25%,
      var(--secondary) 64%,
      #0000 65%
    ),
    linear-gradient(to bottom, #0000 34%, var(--secondary) 35%);
  background-size: 0.75rem 0.75rem, 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  transform: translate(-50%, -65%);
  box-shadow: 0 -0.188rem rgba(0, 0, 0, 0.25) inset;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 66%;
  height: 60%;
  background: linear-gradient(to bottom, var(--secondary) 30%, #0000 31%);
  background-size: 100% 1rem;
  animation: writeDown 2s ease-out infinite;
}

@keyframes writeDown {
  0% {
    height: 0%;
    opacity: 0;
  }
  20% {
    height: 0%;
    opacity: 1;
  }
  80% {
    height: 65%;
    opacity: 1;
  }
  100% {
    height: 65%;
    opacity: 0;
  }
}
